# Python bytecode and cache directories
__pycache__/
*.pyc
*.pyo
*.pyd

# Local Database files
*.db
*.sqlite3

# Environment and variable files
.env
.venv/
venv/
ENV/

# System and IDE specific files
.DS_Store
.vscode/
*.log
